table {
  border-spacing: 0;
  margin: 0;
}

td {
  border: 1px solid #fafafa;
  border-right: none;
  border-bottom: none;
  width: 20px;
  height: 20px;
  /* background-color: transparent; */
  cursor: pointer;
  transition: background-color .1s;
  background-color: #3f51b5;
}

td:last-child {
  border-right: 1px solid #F2E7FE;
}

tr:last-child td {
  border-bottom: 1px solid #F2E7FE;
}

.alive {
  background-color: #00BCD4;
}

.container {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}
